
<div class="main-container">
  <div class="client-form-container">
    <div class="sub-container">
      <div class="client-form-container">
        <div>
          <h2>Make Loan Payment</h2>
          <button class="button-cancel" routerLink="/clients">Cancel</button>
          <br>
          <form [formGroup]="loanPaymentForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
              <mat-label>Payment Amount</mat-label>
              <input matInput placeholder="Payment Amount" formControlName="paymentAmount" />
            </mat-form-field>

            <!-- <mat-form-field appearance="fill">
              <mat-label>Payment Number</mat-label>
              <input matInput placeholder="Payment Number" formControlName="paymentNumber" />
            </mat-form-field> -->

            <!-- <mat-form-field appearance="fill">
              <mat-label>Loan Balance</mat-label>
              <input matInput placeholder="Loan Balance" formControlName="loanBalance" />
            </mat-form-field> -->

            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="picker" placeholder="Payment Date" formControlName="paymentDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div *ngIf="loanDetails">
              <h3><strong>Loan Amount: </strong>{{loanDetails.loanAmount}}</h3>
              <h3><strong>Calculated Loan Balance: </strong>{{newBalance$}}</h3>
            </div>
             <br>
             <br>
            <button class="button-create" mat-raised-button color="accent" type="submit">Submit</button>
          </form>
        </div>
      </div>
      </div>
  </div>
</div>




